@import "src/styles/colors.scss";
@import "src/styles/default.scss";

.root {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  .block {
    width: 50%;
    padding: 8px 45px;
    position: relative;

    &_left {
      padding-left: unset;

      h3:after {
        content: "";
        position: absolute;
        border-top: 25px solid $main-color;
        border-right: 25px solid transparent;
        right: -20px;
        top: 0;
      }

      .circle {
        right: 0;
        transform: translateX(50%);
      }
    }

    &_right {
      margin-top: 100px;
      padding-right: unset;

      .circle {
        left: 0;
        transform: translateX(-50%);
      }

      h3:after {
        content: "";
        position: absolute;
        border-top: 25px solid $main-color;
        border-left: 25px solid transparent;
        left: -20px;
        top: 0;
      }
    }

    &__text {
      text-align: justify;
      line-height: 1.7;
      padding: 15px 15px;
      padding-top: 15px;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    }

    h3 {
      background-color: $main-color;
      color: $main-text-color;
      padding: 7px 10px;
      position: relative;
      box-shadow: 2px -1px 4px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: $second-color;
  }

  .circle {
    position: absolute;
    top: 0;
  }
}

@media screen and (map-get($breakpoints, tablet)) {
  .root {
    flex-direction: column;

    .block {
      width: 100%;
      padding: 10px 20px;

      &_right {
        margin-top: 20px;
      }
    }

    &:after,
    .circle,
    .block h3:after {
      display: none;
    }
  }
}

@media screen and (map-get($breakpoints, mobile)) {
  .root {
    .block {
      padding: 10px;

      &_right {
        margin-top: 0;
      }
    }
  }
}
