@import "src/styles/colors.scss";
@import "src/styles/default.scss";

.root {
  display: flex;
  flex-direction: column;

  .item {
    padding: 30px 40px;
    box-sizing: border-box;
    &:not(:last-child) {
      border-bottom: 1px solid $border_color;
    }

    .place {
      margin-top: 8px;

      .date {
        color: #8d8c8c;
      }
    }

    .description {
      line-height: 1.5;
      margin-top: 12px;

      &__list {
        margin-top: 8px;
        list-style-position: inside;
        padding-left: 24px;
      }
    }
  }
}

@media screen and (map-get($breakpoints, tablet)) {
  .root {
    .item {
      padding: 20px 4px;
      font-size: 14px;

      .description {
        &__list {
          padding-left: 14px;
        }
      }
    }
  }
}
