@import "src/styles/colors.scss";
@import "src/styles/default.scss";

.root {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  .skillSection {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 16px;
      background-color: $main-color;
      color: $page-bg-color;
      padding: 8px 14px 4px;
      line-height: 1;
      border-radius: 4px;
    }

    &__list {
      padding: 10px 5px;
      font-size: 18px;

      .skillItem {
        list-style-position: inside;
      }
    }
  }
}
