@import "src/styles/colors.scss";
@import "src/styles/default.scss";

.root {
  display: block;
  outline: none;
  padding: 10px 20px;
  line-height: 1;
  background-color: $main-color;
  color: $main-text-color;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:hover {
    background-color: $second-color;
  }
}

@media screen and (map-get($breakpoints, mobile)) {
  .root {
    font-size: 14px;
  }
}
