@import "src/styles/colors.scss";
@import "src/styles/default.scss";

.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 60px;

  .items {
    .item {
      font-size: 16px;
      display: flex;
      gap: 40px;
      flex-direction: row;
      line-height: 1.5;
      padding: 10px 0;
      border-bottom: 1px dashed #d8d8d8;
      box-sizing: border-box;

      &__name {
        min-width: 100px;
      }
    }

    a,
    a:visited {
      color: $second-color;
    }

    .item {
      &__name {
        font-family: "Josefin-Sans-Bold", sans-serif;
        font-weight: normal;
      }
    }
  }

  .avatar {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;

    @media screen and (map-get($breakpoints, laptop)) {
      width: 200px;
      height: 200px;
    }
  }
}

@media screen and (map-get($breakpoints, tablet)) {
  .avatar {
    display: none;
  }
}

@media screen and (map-get($breakpoints, xs-mobile)) {
  .items {
    width: 100%;
    font-size: 14px;
  }
}
